<ng-ui-frame [frameConfig]="frameConfig" [navUser]="navUser" [navList]="navList">
  <frame-toolbar>
    <frame-toolbar-title>Test</frame-toolbar-title>

    <frame-toolbar-center>
      <button mat-icon-button matBadge="7">
        <mat-icon>call</mat-icon>
      </button>
      <button mat-icon-button matBadge="7">
        <mat-icon>call</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>call</mat-icon>
      </button>
    </frame-toolbar-center>

    <frame-toolbar-side>
      <a>Test the side</a>
    </frame-toolbar-side>
  
  </frame-toolbar>

  <frame-app-content>
    <router-outlet></router-outlet>
  </frame-app-content>

</ng-ui-frame>